body {
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(155, 190, 202);
}
section{
    box-shadow: 5px 0 5px black;
}
img {
    display: block;
    margin: 0 auto;
    width: 250px;
    border-radius: 50%;
    border: 3px solid;
}


footer {
    text-align: center;
    background-color: rgb(158, 97, 154);
}
